<!DOCTYPE html>
<html>
<head>
	<title>Oops! Something went wrong...</title>
	<style>
		body {
			background-color: #F8F8F8;
			font-family: sans-serif;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}

		h1 {
			font-size: 4rem;
			margin-bottom: 1rem;
			color: #F44336;
			text-align: center;
		}

		p {
			font-size: 1.5rem;
			margin-bottom: 2rem;
			color: #555;
			text-align: center;
		}

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 2rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Oops!</h1>
		<p>Something went wrong. Please try again later.</p>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaizlU_hFOQd-HfbB7vj55C6rd_fWvuWdNcg&usqp=CAU" alt="Oops!">
	</div>
</body>
</html>
